@font-face {
  font-family: "yuumi-icon"; /* Project id 2947314 */
  src: url('./yuumi-icon.woff2?t=1637995774294') format('woff2'),
    url('./yuumi-icon.woff?t=1637995774294') format('woff'),
    url('./yuumi-icon.ttf?t=1637995774294') format('truetype'),
    url('./yuumi-icon.svg?t=1637995774294#yuumi-icon') format('svg');
}

.yuumi-icon {
  font-family: "yuumi-icon" !important;
  font-weight: normal !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-empty:before {
  content: "\e6b5";
}

.icon-flat-lock:before {
  content: "\e6b2";
}

.icon-flat-info:before {
  content: "\e6b3";
}

.icon-flat-unlock:before {
  content: "\e6b4";
}

.icon-flat-shield-info:before {
  content: "\e6b1";
}

.icon-line-close:before {
  content: "\e6b0";
}

.icon-flat-checkbox-indeterminate:before {
  content: "\e6ae";
}

.icon-line-checkbox-indeterminate:before {
  content: "\e6af";
}

.icon-line-circle-correct:before {
  content: "\e6ad";
}

.icon-flat-arrow-right-small:before {
  content: "\e6ac";
}

.icon-flat-arrow-bottom-small:before {
  content: "\e6a5";
}

.icon-flat-arrow-bottom:before {
  content: "\e6a6";
}

.icon-flat-arrow-left-small:before {
  content: "\e6a7";
}

.icon-flat-arrow-right:before {
  content: "\e6a8";
}

.icon-flat-arrow-top:before {
  content: "\e6a9";
}

.icon-flat-arrow-left:before {
  content: "\e6aa";
}

.icon-flat-arrow-top-small:before {
  content: "\e6ab";
}

.icon-line-user-remove:before {
  content: "\e6a4";
}

.icon-flat-user-remove:before {
  content: "\e6a1";
}

.icon-flat-user-disabled:before {
  content: "\e6a2";
}

.icon-flat-user-add:before {
  content: "\e6a3";
}

.icon-radio-unselect:before {
  content: "\e69f";
}

.icon-line-user-setting:before {
  content: "\e6a0";
}

.icon-radio-select:before {
  content: "\e69a";
}

.icon-line-user-add:before {
  content: "\e69b";
}

.icon-line-user:before {
  content: "\e69c";
}

.icon-line-user-disabled:before {
  content: "\e69d";
}

.icon-line-users:before {
  content: "\e69e";
}

.icon-line-unlock:before {
  content: "\e694";
}

.icon-line-shield-correct:before {
  content: "\e695";
}

.icon-line-shield-info:before {
  content: "\e696";
}

.icon-line-setting:before {
  content: "\e697";
}

.icon-line-top:before {
  content: "\e698";
}

.icon-line-unfold:before {
  content: "\e699";
}

.icon-line-next:before {
  content: "\e68e";
}

.icon-line-prev:before {
  content: "\e68f";
}

.icon-line-right:before {
  content: "\e690";
}

.icon-line-remove:before {
  content: "\e691";
}

.icon-line-search:before {
  content: "\e692";
}

.icon-line-rect-correct:before {
  content: "\e693";
}

.icon-line-lock:before {
  content: "\e68d";
}

.icon-line-mobile:before {
  content: "\e68c";
}

.icon-line-left:before {
  content: "\e68a";
}

.icon-line-like:before {
  content: "\e68b";
}

.icon-line-key:before {
  content: "\e689";
}

.icon-line-info:before {
  content: "\e688";
}

.icon-line-help:before {
  content: "\e687";
}

.icon-line-folder-remove:before {
  content: "\e681";
}

.icon-line-folder-add:before {
  content: "\e682";
}

.icon-line-folder:before {
  content: "\e683";
}

.icon-line-fold:before {
  content: "\e684";
}

.icon-line-folder-disabled:before {
  content: "\e685";
}

.icon-line-folder-setting:before {
  content: "\e686";
}

.icon-line-file-add:before {
  content: "\e67e";
}

.icon-line-file-disabled:before {
  content: "\e67f";
}

.icon-line-file-remove:before {
  content: "\e680";
}

.icon-line-file-setting:before {
  content: "\e67d";
}

.icon-line-file:before {
  content: "\e67b";
}

.icon-line-eye-close:before {
  content: "\e67c";
}

.icon-line-eye:before {
  content: "\e67a";
}

.icon-line-disabled:before {
  content: "\e679";
}

.icon-line-exit:before {
  content: "\e678";
}

.icon-line-edit:before {
  content: "\e677";
}

.icon-line-delete:before {
  content: "\e676";
}

.icon-line-circle-close:before {
  content: "\e673";
}

.icon-line-clock:before {
  content: "\e674";
}

.icon-line-checkbox-select:before {
  content: "\e671";
}

.icon-line-calendar:before {
  content: "\e670";
}

.icon-line-bottom:before {
  content: "\e66f";
}

.icon-flat-user:before {
  content: "\e66b";
}

.icon-flat-users:before {
  content: "\e66c";
}

.icon-flat-user-setting:before {
  content: "\e66e";
}

.icon-flat-unfold:before {
  content: "\e66a";
}

.icon-flat-shield-correct:before {
  content: "\e669";
}

.icon-flat-search:before {
  content: "\e667";
}

.icon-flat-setting:before {
  content: "\e666";
}

.icon-flat-checkbox-select:before {
  content: "\e665";
}

.icon-flat-remove:before {
  content: "\e663";
}

.icon-flat-rect-correct:before {
  content: "\e664";
}

.icon-flat-mobile:before {
  content: "\e661";
}

.icon-flat-like:before {
  content: "\e660";
}

.icon-flat-key:before {
  content: "\e65f";
}

.icon-flat-help:before {
  content: "\e65d";
}

.icon-flat-file-remove:before {
  content: "\e658";
}

.icon-flat-file-add:before {
  content: "\e659";
}

.icon-flat-file-disabled:before {
  content: "\e65a";
}

.icon-flat-file-setting:before {
  content: "\e65b";
}

.icon-flat-file:before {
  content: "\e65c";
}

.icon-flat-folder-disabled:before {
  content: "\e653";
}

.icon-flat-folder:before {
  content: "\e654";
}

.icon-flat-folder-add:before {
  content: "\e655";
}

.icon-flat-folder-setting:before {
  content: "\e656";
}

.icon-flat-folder-remove:before {
  content: "\e657";
}

.icon-flat-fold:before {
  content: "\e652";
}

.icon-flat-eye:before {
  content: "\e651";
}

.icon-flat-eye-close:before {
  content: "\e650";
}

.icon-flat-exit:before {
  content: "\e64f";
}

.icon-flat-disabled:before {
  content: "\e64d";
}

.icon-flat-edit:before {
  content: "\e64e";
}

.icon-flat-delete:before {
  content: "\e64c";
}

.icon-flat-clock:before {
  content: "\e649";
}

.icon-flat-circle-close:before {
  content: "\e64a";
}

.icon-flat-circle-correct:before {
  content: "\e64b";
}

.icon-flat-calendar:before {
  content: "\e648";
}

.icon-edit:before {
  content: "\e63f";
}

.icon-correct:before {
  content: "\e63e";
}

.icon-circle-loading:before {
  content: "\e63d";
}

.icon-checkbox-unselect:before {
  content: "\e63c";
}

.icon-add:before {
  content: "\e63b";
}
