@font-face {
  font-family: "yuumi-icon"; /* Project id 2947314 */
  src: url('yuumifont.woff2?t=1647419546424') format('woff2'),
    url('yuumifont.woff?t=1647419546424') format('woff'),
    url('yuumifont.ttf?t=1647419546424') format('truetype'),
    url('yuumifont.svg?t=1647419546424#yuumi-icon') format('svg');
}

.yuumi-icon {
  font-family: "yuumi-icon" !important;
  font-weight: normal !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flat-menu:before {
  content: "\e757";
}

.icon-flat-menu1:before {
  content: "\e758";
}

.icon-line-menu:before {
  content: "\e759";
}

.icon-line-menu1:before {
  content: "\e75a";
}

.icon-flat-share:before {
  content: "\e753";
}

.icon-flat-heart:before {
  content: "\e754";
}

.icon-line-share:before {
  content: "\e755";
}

.icon-line-heart:before {
  content: "\e756";
}

.icon-line-pause:before {
  content: "\e74d";
}

.icon-line-play:before {
  content: "\e74e";
}

.icon-line-catalog:before {
  content: "\e74f";
}

.icon-flat-pause:before {
  content: "\e750";
}

.icon-flat-play:before {
  content: "\e751";
}

.icon-flat-catalog:before {
  content: "\e752";
}

.icon-flat-user-order:before {
  content: "\e74b";
}

.icon-line-user-order:before {
  content: "\e74c";
}

.icon-flat-mail:before {
  content: "\e749";
}

.icon-line-mail:before {
  content: "\e74a";
}

.icon-line-close:before {
  content: "\e737";
}

.icon-flat-close:before {
  content: "\e747";
}

.icon-flat-eye:before {
  content: "\e748";
}

.icon-flat-order:before {
  content: "\e745";
}

.icon-line-order:before {
  content: "\e746";
}

.icon-line-car:before {
  content: "\e743";
}

.icon-flat-car:before {
  content: "\e744";
}

.icon-line-folder-add:before {
  content: "\e6d1";
}

.icon-line-folder:before {
  content: "\e6d3";
}

.icon-line-next:before {
  content: "\e6d4";
}

.icon-line-file:before {
  content: "\e6d5";
}

.icon-line-prev:before {
  content: "\e6d6";
}

.icon-line-file-add:before {
  content: "\e6d7";
}

.icon-line-users:before {
  content: "\e6d8";
}

.icon-line-user-disabled:before {
  content: "\e6d9";
}

.icon-line-search:before {
  content: "\e6da";
}

.icon-line-user-add:before {
  content: "\e6db";
}

.icon-line-user-remove:before {
  content: "\e6dc";
}

.icon-line-lock:before {
  content: "\e6dd";
}

.icon-line-mobile:before {
  content: "\e6de";
}

.icon-line-key:before {
  content: "\e6e0";
}

.icon-line-unlock:before {
  content: "\e6e1";
}

.icon-line-user-setting:before {
  content: "\e6e2";
}

.icon-line-shield-info:before {
  content: "\e6e3";
}

.icon-line-shield-correct:before {
  content: "\e6e4";
}

.icon-line-praise:before {
  content: "\e6e5";
}

.icon-line-eye:before {
  content: "\e6e6";
}

.icon-line-eye-close:before {
  content: "\e6e7";
}

.icon-line-delete:before {
  content: "\e6e8";
}

.icon-line-info:before {
  content: "\e6e9";
}

.icon-line-unfold:before {
  content: "\e6ea";
}

.icon-line-screen:before {
  content: "\e6eb";
}

.icon-line-exit:before {
  content: "\e6ec";
}

.icon-line-clock:before {
  content: "\e6ed";
}

.icon-line-fold:before {
  content: "\e6ee";
}

.icon-line-remove:before {
  content: "\e6ef";
}

.icon-line-arrow-right:before {
  content: "\e6f0";
}

.icon-line-circle-dot:before {
  content: "\e6f1";
}

.icon-line-arrow-bottom:before {
  content: "\e6f2";
}

.icon-line-identity:before {
  content: "\e6f3";
}

.icon-line-checkbox-indeterminate:before {
  content: "\e6f4";
}

.icon-line-arrow-left:before {
  content: "\e6f5";
}

.icon-line-arrow-top:before {
  content: "\e6f6";
}

.icon-line-steering-wheel:before {
  content: "\e6f7";
}

.icon-line-calendar:before {
  content: "\e6f8";
}

.icon-line-disabled:before {
  content: "\e6f9";
}

.icon-line-help:before {
  content: "\e6fa";
}

.icon-line-loading:before {
  content: "\e6fb";
}

.icon-line-circle-close:before {
  content: "\e6fc";
}

.icon-checkbox-selected:before {
  content: "\e6fd";
}

.icon-line-edit:before {
  content: "\e6fe";
}

.icon-line-rect-correct:before {
  content: "\e6ff";
}

.icon-radio-selected:before {
  content: "\e700";
}

.icon-line-circle-correct:before {
  content: "\e701";
}

.icon-line-user:before {
  content: "\e702";
}

.icon-line-empty:before {
  content: "\e703";
}

.icon-line-setting:before {
  content: "\e704";
}

.icon-line-circle:before {
  content: "\e705";
}

.icon-line-correct:before {
  content: "\e706";
}

.icon-line-add:before {
  content: "\e707";
}

.icon-radio-unselected:before {
  content: "\e708";
}

.icon-checkbox-unselected:before {
  content: "\e709";
}

.icon-line-phone:before {
  content: "\e70a";
}

.icon-line-rect:before {
  content: "\e70b";
}

.icon-flat-add:before {
  content: "\e70c";
}

.icon-flat-arrow-bottom:before {
  content: "\e70d";
}

.icon-flat-arrow-right:before {
  content: "\e70e";
}

.icon-flat-arrow-left:before {
  content: "\e70f";
}

.icon-flat-arrow-top:before {
  content: "\e710";
}

.icon-flat-checkbox-indeterminate:before {
  content: "\e711";
}

.icon-flat-circle-correct:before {
  content: "\e712";
}

.icon-flat-calendar:before {
  content: "\e713";
}

.icon-flat-circle-dot:before {
  content: "\e714";
}

.icon-flat-circle-close:before {
  content: "\e715";
}

.icon-flat-circle:before {
  content: "\e716";
}

.icon-flat-correct:before {
  content: "\e717";
}

.icon-flat-clock:before {
  content: "\e718";
}

.icon-flat-empty:before {
  content: "\e719";
}

.icon-flat-disabled:before {
  content: "\e71a";
}

.icon-flat-eye-close:before {
  content: "\e71b";
}

.icon-flat-edit:before {
  content: "\e71c";
}

.icon-flat-exit:before {
  content: "\e71d";
}

.icon-flat-delete:before {
  content: "\e71e";
}

.icon-flat-folder-add:before {
  content: "\e71f";
}

.icon-flat-file-add:before {
  content: "\e720";
}

.icon-flat-file:before {
  content: "\e721";
}

.icon-flat-help:before {
  content: "\e722";
}

.icon-flat-folder:before {
  content: "\e723";
}

.icon-flat-identity:before {
  content: "\e724";
}

.icon-flat-info:before {
  content: "\e725";
}

.icon-flat-loading:before {
  content: "\e726";
}

.icon-flat-mobile:before {
  content: "\e727";
}

.icon-flat-rect:before {
  content: "\e728";
}

.icon-flat-praise:before {
  content: "\e729";
}

.icon-flat-lock:before {
  content: "\e72a";
}

.icon-flat-fold:before {
  content: "\e72b";
}

.icon-flat-setting:before {
  content: "\e72d";
}

.icon-flat-search:before {
  content: "\e72e";
}

.icon-flat-rect-correct:before {
  content: "\e72f";
}

.icon-flat-phone:before {
  content: "\e730";
}

.icon-flat-unfold:before {
  content: "\e731";
}

.icon-flat-key:before {
  content: "\e732";
}

.icon-flat-steering-wheel:before {
  content: "\e733";
}

.icon-flat-user:before {
  content: "\e735";
}

.icon-flat-unlock:before {
  content: "\e738";
}

.icon-flat-screen:before {
  content: "\e739";
}

.icon-flat-shield-correct:before {
  content: "\e73a";
}

.icon-flat-user-disabled:before {
  content: "\e73b";
}

.icon-flat-remove:before {
  content: "\e73c";
}

.icon-flat-user-remove:before {
  content: "\e73d";
}

.icon-flat-users:before {
  content: "\e73e";
}

.icon-flat-shield-info:before {
  content: "\e73f";
}

.icon-flat-user-add:before {
  content: "\e736";
}

.icon-flat-user-setting:before {
  content: "\e740";
}

.icon-flat-folder-setting:before {
  content: "\e734";
}

.icon-line-folder-setting:before {
  content: "\e741";
}

.icon-line-file-setting:before {
  content: "\e72c";
}

.icon-flat-file-setting:before {
  content: "\e742";
}