
@import "../../../theme.scss";

.yuumi-date-picker {
  display: inline-table;
  box-sizing: border-box;
  border: 1px solid map-get($--color, "border");
  border-radius: map-get($--border-radius, "primary");
  cursor: pointer;

  .picker__icon, .picker__content, .picker__suffix {
    display: table-cell;
    vertical-align: middle;
  }

  .picker__icon, .placeholder, .picker__suffix {
    color: map-get($--color, "placeholder");
  }

  .picker__content {
    .content-hyphen {
      padding: 0 map-get($--space, "sm") * 0.5;
    }

    .content-date {
      min-width: 70px;
      display: inline-block;
      text-align: center;
    }
  }

  @each $key, $value in $--height {
    &.size__#{$key} {
      height: $value;

      .picker__icon, .picker__suffix {
        text-align: center;
        width: $value;
      }
    }
  }

  &.__focus {
    border-color: map-get($--color, "primary");
  }

  &.__disabled {
    border-color: map-get($--color, "disabled");
    color: map-get($--text-color, "secondary");
    cursor: no-drop;
    opacity: 0.5;
    user-select: none;
  }
}

.date-picker-popper {
  .panel__times {
    display: table;
    width: 100%;
    border-bottom: 1px solid map-get($--color, "border");
    padding: map-get($--space, "xm") * 0.5 map-get($--space, "sm");
    box-sizing: border-box;

    >span {
      display: table-cell;
      text-align: center;
      vertical-align: middle;

      &.date-text {
        width: 110px;
      }

      &.date-time {
        width: 140px;
      }
    }

    &._disabled {
      .date-text {
        color: map-get($--color, "placeholder");
        opacity: 0.5;
      }
    }
  }

  .panels {
    white-space: nowrap;

    .panel__slot {
      position: relative;
      text-align: center;
      padding: map-get($--space, "sm");
      font-size: 16px;

      .slot__content {
        margin: 0 60px;
      }

      .prev-year, .prev-month {
        float: left;
        margin-right: map-get($--space, "sm");
        cursor: pointer;

        &:hover {
          color: map-get($--color, "primary");
        }
      }

      .next-year, .next-month {
        float: right;
        margin-left: map-get($--space, "sm");
        cursor: pointer;

        &:hover {
          color: map-get($--color, "primary");
        }
      }

      .render__year, .render__month {
        display: inline-block;
        padding: 0 map-get($--space, "xm");
        font-weight: bold;
      }
    }
  }

  .date-picker-btns {
    border-top: 1px solid map-get($--color, "border");
    text-align: right;
    padding: map-get($--space, "xm") * 0.5 map-get($--space, "sm");

    >span {
      margin-left: map-get($--space, "sm");
      cursor: pointer;
      font-size: 14px;
      line-height: 30px;

      &:nth-child(2) {
        color: map-get($--color, "primary");
      }

      &.err-msg {
        float: left;
        margin-left: 0;
        color: map-get($--color, "error");
      }
    }
  }
}